img {
    cursor: pointer;
    width: 200px;
    height: 200px;
    margin: auto;
}

.description {
    width: 200px;
    height: 200px;
    margin: auto;
    padding-top: 50px ;
}

.hide {
    visibility: hidden
}

.show {
    visibility: visible;
}