form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.photoForm {
    min-width: none;
    max-width: 600px;
    margin: auto;
    border: 4px solid grey;
    border-radius: 8px;
    background-color: #4663ac;
    color: white;
    margin-bottom: 20px;
}

input , button {
    border-radius: 8px;
    border: 1px solid grey;
    padding: 10px;
}

#addButton {
    background-color: rgb(148, 252, 148);
    cursor: pointer;
}
